<% include ../partials/html_head %>

  <main class="main">
    <h1>Youtube Socket.io</h1>
    <p>Acesse: <a href="<%= code_url %>/mobile" target="_blank"><%= code_url %>/mobile</a> e informe o código:</p>
    <p>
      <h2 style="text-transform: uppercase;"><%= generated_code %></h2>
    </p>
  </main>

<% include ../partials/html_footer %>