<% include ../partials/html_head %>

  <main class="main">
    <h1>Digite o código abaixo:</h1>
    <p>
      <input type="text"> <input type="text"> <input type="text"> <input type="text">
    </p>
    <p>
      <button>validate</button>
    </p>
  </main>

<% include ../partials/html_footer %>